@charset "UTF-8";


.fv {
  height: clamp(25rem, 18.708rem + 26.85vw, 37.5rem);
  position: relative;
  margin-bottom: clamp(2.5rem, 0.612rem + 8.05vw, 6.25rem);
  overflow: hidden;
  margin-top: 1rem;
}
.fv__img img {
  width: 100%;
  height: clamp(25rem, 18.708rem + 26.85vw, 37.5rem);
  object-fit: cover;
}
.fv__img li::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 20;
    height: 100%;
}
.fv__img li {
  width: 70%;
  right: 0;
  position: absolute;
  animation: fvFade 15s infinite;
  opacity: 0;
}
.fv__img li:nth-child(1) {
  animation-delay: 0;
}
.fv__img li:nth-child(2) {
  animation-delay: 5s;
}
.fv__img li:nth-child(3) {
  animation-delay: 10s;
}
@keyframes fvFade {
  0% {
      opacity: 0;
      transform: scale(1);
    }

    15% {
      opacity: 1;
    }

    30% {
      opacity: 1;
      transform: scale(1.05);
    }

    45% {
      opacity: 0;
      transform: scale(1.05)
    }

    100% {
      opacity: 0;
    }
}
.fv__subttl {
  position: absolute;
  top: 10.62rem;
  left: 18%;
  color: #A67C52;
  font-size: clamp(1rem, 0.748rem + 1.07vw, 1.5rem);
  letter-spacing: 16%;
  font-weight: 500;
  z-index: 30;
  text-shadow: 3px 3px 6px #fff;
}
.fv__ttl {
  position: absolute;
  font-size: clamp(1.625rem, 0.807rem + 3.49vw, 3.25rem);
  top: 13.75rem;
  left: 18%;
  line-height: 1.3;
  letter-spacing: 15%;
  z-index: 30;
  text-shadow: 3px 3px 6px #fff;
}
/* タブレット */
@media screen and (max-width: 830px) {
  .fv__img li {
    width: 100%;
  }
  .fv__subttl,
  .fv__ttl {
    color: #fff;
    text-shadow: none;
    left: 6%;
  }
  .fv__subttl {
    top: 19rem;
  }
  .fv__ttl {
    top: 22rem;
  }
}
/* sp */
@media screen and (max-width: 550px) {
  .fv__subttl {
    top: 15.5rem;
  }
  .fv__ttl {
    top: 18rem;
  }
}
/* concept */
.concept {
  padding-bottom: clamp(2.5rem, 0.612rem + 8.05vw, 6.25rem);
}
.concept__wrapper {
  display: flex;
  align-items: center;
}
.concept__left {
  width: 60%;
}
.concept__left img {
  width: 100%;
  height: 500px;
  display: block;
  object-fit: cover;
}
.concept__right {
  width: 40%;
  background-color: #fff;
  padding: 3% 5% 3% 8%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin-left: -8%;
}
.concept__right__box {
  width: 100%;
}
.concept__right__box__catch__copy {
  font-size: clamp(1.25rem, 0.998rem + 1.07vw, 1.75rem);
  font-weight: 400;
  margin-top: clamp(0.938rem, 0.466rem + 2.01vw, 1.875rem);
  margin-bottom: clamp(0.938rem, 0.466rem + 2.01vw, 1.875rem);
  line-height: 1.3;
}
.concept__right__box__txt {
  font-size: clamp(0.875rem, 0.812rem + 0.27vw, 1rem);
}
/* タブレット */
@media screen and (max-width: 830px) {
  .concept__wrapper {
    flex-direction: column-reverse;
  }
  .concept__left {
    width: 100%;
  }
  .concept__left img {
    height: 400px;
  }
  .concept__right {
    width: 60%;
    margin-left: auto;
    z-index: 10;
    margin-bottom: -10%;
    padding: 3.5% 5%;
  }
}
/* sp*/
@media screen and (max-width: 550px) {
  .concept__left {
    width: 100%;
  }
  .concept__left img {
    height: 350px;
  }
  .concept__right {
    width: 100%;
    padding: 0;
    margin: 0 auto -15%;
  }
  .concept__right__box {
    /* padding: 4% 5.5%; */
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 8%;
  }
  .concept__right__box__txt {
    max-width: 280px;
  }
}
/* feature */
.feature {
  background-color: #FAF8F5;
  padding-top: clamp(2.5rem, 0.612rem + 8.05vw, 6.25rem);
  padding-bottom: clamp(2.5rem, 0.612rem + 8.05vw, 6.25rem);
}
.feature__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}
.feature__left {
  width: 43%;
}

.feature__left__txt {
  margin-top: clamp(0.938rem, 0.466rem + 2.01vw, 1.875rem);
}

.feature__right {
  width: 52%;
}
.feature__right__con {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #fff;
  padding: 3.5%;
  margin-bottom: clamp(1.25rem, 0.935rem + 1.34vw, 1.875rem);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.feature__right__con:last-child {
  margin-bottom: 0;
}
.feature__right__num {
  font-size: clamp(1.5rem, 1.122rem + 1.61vw, 2.25rem);
  color: #A67C52;
  font-weight: 700;
  white-space: nowrap;
}
.feature__right__con__subttl {
  font-size: clamp(1.125rem, 0.936rem + 0.81vw, 1.5rem);
  font-weight: 500;
}
.feature__right__con__txt {
  font-size: clamp(0.875rem, 0.812rem + 0.27vw, 1rem);
}
/* タブレット */
@media screen and (max-width: 830px) {
.feature__wrapper {
  flex-direction: column;
}
.feature__left {
  width: 70%;
  margin-right: auto;
}
.feature__right {
  width: 100%;
  margin-top: clamp(1.875rem, 1.36rem + 2.2vw, 2.5rem);
}
}
/* sp */
@media screen and (max-width: 550px) {
  .feature__left {
    width: 100%;
  }
  .feature__right__con {
    flex-direction: column;
    gap: 0;
    padding: 3.5% 5%;
  }
  .feature__right__num {
    margin-right: auto;
    gap: 0;
  }
  .feature__left .section__subttl, 
  .feature__left .section__ttl {
    text-align: center;
  }
  .feature__left__txt br {
    display: none;
  }
}
/* space */
.space {
  padding-top: clamp(2.5rem, 0.612rem + 8.05vw, 6.25rem);
  padding-bottom: clamp(2.5rem, 0.612rem + 8.05vw, 6.25rem);
}
.space__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.space__left {
  width: 48%;
}
.space__left__top {
  background-image: url("../img/spaceopen.png");
  width: 100%;
  height: 210px;
  background-position: 50%;
  background-size: cover;
  position: relative;
  margin-bottom: 30px;
}
.space__left__top__bottom {
  display: flex;
  justify-content: space-between;
}
.space__left__top__img__bottom__left {
  background-image: url("../img/speacemeetingroom.png");
  width: 48%;
  height: 200px;
  background-position: 50%;
  background-size: cover;
  position: relative;
}
.space__left__top__img__bottom__right {
  background-image: url("../img/spacelounge.png");
  width: 48%;
  height: 200px;
  background-position: 50%;
  background-size: cover;
  position: relative;
}
.op {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2% 3.5%;
  bottom: 0;
}
.mt,
.lg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2% 6%;
  bottom: 0;
}
.lg {
  padding: 2% 10%;
}
.op,
.mt,
.lg {
  font-size: 0.875rem;
}
.space__right {
  width: 45%;
}
.space__right__txt {
  margin-top: clamp(0.938rem, 0.151rem + 3.36vw, 2.5rem);
  margin-bottom: clamp(0.938rem, 0.151rem + 3.36vw, 2.5rem);
  font-size: clamp(0.875rem, 0.812rem + 0.27vw, 1rem);
}
/* タブレット */
@media screen and (max-width: 830px) {
  .space__wrapper {
    flex-direction: column-reverse;
  }
  .space__left {
    width: 100%;
    margin-top: clamp(1.875rem, 1.36rem + 2.2vw, 2.5rem);
  }
  .space__left__top {
    height: 320px;
  }
  .space__left__top__bottom {
    display: none;
  }
  .space__right {
    width: 70%;
    margin-left: auto;
  }
  .space__right .section__subttl,
  .space__right .section__ttl {
    text-align: left;
  }
  .space__right .btn {
    margin-right: auto;
  }
}
/* sp */
@media screen and (max-width: 550px) {
  .space__right {
    width: 100%;
  }
  .space__right .section__subttl,
  .space__right .section__ttl {
    text-align: center;
  }
  .space__right .btn {
    margin: 0 auto;
  }
}
/* access */
.access {
  padding-top: clamp(2.5rem, 0.612rem + 8.05vw, 6.25rem);
  padding-bottom: clamp(2.5rem, 0.612rem + 8.05vw, 6.25rem);
}
.access__wrapper .section__subttl,
.access__wrapper .section__ttl,
.access__wrapper .access__txt {
  text-align: center;
}
.access__wrapper .access__txt {
  margin-top: 0.975rem;
  margin-bottom: clamp(1.875rem, 1.56rem + 1.34vw, 2.5rem);
}
.access__bottom__con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.access__bottom__con__left {
  width: 48%;
}
.access__bottom__con__left strong {
  font-size: clamp(1rem, 0.874rem + 0.54vw, 1.25rem);
}
.access__bottom__con__left li {
  font-size: clamp(0.875rem, 0.812rem + 0.27vw, 1rem);
}
.info__time {
  margin-top: clamp(1.875rem, 1.56rem + 1.34vw, 2.5rem);
  margin-bottom: clamp(1.875rem, 1.56rem + 1.34vw, 2.5rem);
}
.info__tel {
  margin-bottom: clamp(1.875rem, 1.56rem + 1.34vw, 2.5rem);
}
.info__tel a {
  color: #333;
}
.access__bottom__con__left .btn {
  margin: 0 auto;  
}
.access__bottom__con__right {
  width: 48%;
}
.access__bottom__con__right iframe {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* タブレット */
@media screen and (max-width: 830px) {
  .access__bottom__con {
    flex-direction: column-reverse;
  }
  .access__bottom__con__right {
    width: 100%;
  }
  .access__bottom__con__right iframe {
    margin: 0 auto;
  }
  .access__bottom__con__left {
  width: 100%;
  }
  .info__address {
    margin-top: clamp(1.875rem, 1.36rem + 2.2vw, 2.5rem);
  }
  .access__bottom__con__left .btn {
    margin-left: 0;
    margin-right: auto;
  }
}
/* sp */
@media screen and (max-width: 550px) {
  .access__wrapper .access__txt {
    text-align: left;
  }

  .access__wrapper .access__txt br {
    display: none;
  }

  .access__bottom__con__left .btn {
    margin: 0 auto;
  }
}
/* plan */
.plan {
  background-color: #FAF8F5;
  padding-top: clamp(2.5rem, 0.612rem + 8.05vw, 6.25rem);
  padding-bottom: clamp(2.5rem, 0.612rem + 8.05vw, 6.25rem);
}
.plan__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: clamp(1.875rem, 1.56rem + 1.34vw, 2.5rem);
}
.plan__top__txt {
  font-size: clamp(0.875rem, 0.812rem + 0.27vw, 1rem);
}
.plan__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: clamp(1.875rem, 1.56rem + 1.34vw, 2.5rem);
}
.plan__middle__con {
  width: 30%;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.plan__middle__con__box__img {
  width: 100%;
}
.plan__middle__con__box__img img {
  width: 100%;
  height: 100%;
  display: block;
}
.plan__middle__con__box__bottom {
  margin-top: clamp(0.938rem, 0.466rem + 2.01vw, 1.875rem);
  margin-bottom: clamp(0.938rem, 0.466rem + 2.01vw, 1.875rem);
  padding: 0 6%;
}
.plan__middle__con__box__drop,
.plan__middle__con__box__subttl {
  font-size: clamp(0.875rem, 0.812rem + 0.27vw, 1rem);
}

.plan__middle__con__box__drop__in {
  color: #A67C52;
  font-size: clamp(1.125rem, 0.936rem + 0.81vw, 1.5rem);
  line-height: 0.8;
  margin-bottom: clamp(0.938rem, 0.466rem + 2.01vw, 1.875rem);
}
.plan__middle__con__box__ttl {
  font-size: clamp(1rem, 0.874rem + 0.54vw, 1.25rem);
  line-height: 1.5;
}
.plan__middle__con__box__subttl {
  margin-bottom: clamp(0.938rem, 0.466rem + 2.01vw, 1.875rem);
}
.plan__middle__con__box__price {
  color: #A67C52;
}
.plan__middle__con__box__price strong {
  font-size: clamp(1.25rem, 0.998rem + 1.07vw, 1.75rem);
  font-weight: 500;
}
.plan__wrapper .btn {
  margin: 0 auto;
}
/* タブレット */
@media screen and (max-width: 830px) {
  .plan__top {
    flex-direction: column;
  }
  .plan__top .plan__top__ttl, 
  .plan__top .plan__top__txt {
    margin-right: auto;
  }
  .plan__top__txt {
    margin-top: clamp(0.938rem, 0.68rem + 1.1vw, 1.25rem);
  }
  .plan__middle {
    flex-direction: column;
    gap: 30px;
  }
  .plan__middle__con {
    width: 100%;
  }
}
/* sp */
@media screen and (max-width: 550px) {
  .plan__middle__con {
    max-width: 330px;
  }
  .plan__top__txt br {
    display: none;
  }
}
